#wall .tag-1 {
  display: none;
  width:430px;
}
#wall #tag-2 {
  display: block;
  height:200px;
}
#wall #tag-3 {
  display: block;
}
#wall #tag-4 {
  display: block;
}
#wall #tag-5 {
  display: block;
}
#wall #tag-6 {
  display: block;
}